themes {
    base16 {
        text_unselected {
            base {{base05-rgb-r}} {{base05-rgb-g}} {{base05-rgb-b}}
            background {{base02-rgb-r}} {{base02-rgb-g}} {{base02-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0D-rgb-r}} {{base0D-rgb-g}} {{base0D-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
        text_selected {
            base {{base00-rgb-r}} {{base00-rgb-g}} {{base00-rgb-b}}
            background {{base0A-rgb-r}} {{base0A-rgb-g}} {{base0A-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0D-rgb-r}} {{base0D-rgb-g}} {{base0D-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
        ribbon_unselected {
            base {{base05-rgb-r}} {{base05-rgb-g}} {{base05-rgb-b}}
            background {{base01-rgb-r}} {{base01-rgb-g}} {{base01-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0D-rgb-r}} {{base0D-rgb-g}} {{base0D-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
        ribbon_selected {
            base {{base00-rgb-r}} {{base00-rgb-g}} {{base00-rgb-b}}
            background {{base0D-rgb-r}} {{base0D-rgb-g}} {{base0D-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0C-rgb-r}} {{base0C-rgb-g}} {{base0C-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
        frame_selected {
            base {{base0D-rgb-r}} {{base0D-rgb-g}} {{base0D-rgb-b}}
            background {{base02-rgb-r}} {{base02-rgb-g}} {{base02-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0C-rgb-r}} {{base0C-rgb-g}} {{base0C-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
        frame_highlight {
            base {{base09-rgb-r}} {{base09-rgb-g}} {{base09-rgb-b}}
            background {{base02-rgb-r}} {{base02-rgb-g}} {{base02-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0C-rgb-r}} {{base0C-rgb-g}} {{base0C-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
        exit_code_success {
            base {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            background {{base02-rgb-r}} {{base02-rgb-g}} {{base02-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0C-rgb-r}} {{base0C-rgb-g}} {{base0C-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
        exit_code_error {
            base {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            background {{base02-rgb-r}} {{base02-rgb-g}} {{base02-rgb-b}}
            emphasis_0 {{base08-rgb-r}} {{base08-rgb-g}} {{base08-rgb-b}}
            emphasis_1 {{base0B-rgb-r}} {{base0B-rgb-g}} {{base0B-rgb-b}}
            emphasis_2 {{base0C-rgb-r}} {{base0C-rgb-g}} {{base0C-rgb-b}}
            emphasis_3 {{base0E-rgb-r}} {{base0E-rgb-g}} {{base0E-rgb-b}}
        }
    }
}
